.container{
  background: white;
  min-width: 1000px;
  min-height: 100vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 1em;
}

.diaryContent{
  border: 1px solid lightgray ;
  margin-top: 2em;
  padding: 1em;
}

.diaryContent input, textarea{
  width: 900px;
  margin: 20px;
}

.selectBox{
  display: flex;
  padding: 1em;
}

.selectBox select{
  margin-left: auto;
  height: 20px;
  width: 700px;
  text-align: center;
}

.diarySave{
  margin: 2em;
}

.diarySave button{
  width: 200px;
  height: 50px;
}

.DiaryList{
  margin-top: 1em;
  border: 1px solid lightgray ;
  padding: 1em;
}

.item{
  margin: 1em;
  border: 1px solid lightgray ;
  padding: 1em;
}

.title{
  font-weight: bold;
  font-size: 30px;
}

.manifest{
  color: gray;
  font-size: 15px;
}

.content{
  font-size: 25px;
}

